<div class="category container p-0">
  <div class="col-12">
    <div class="row d-flex justify-content-between">
      <div class="col-md-7 col-12">
        <label><input  type="input" ><button class="btn bg-blue fa fa-plus"></button></label>
      </div>
      <div class="col-md-5 col-12">
        <button class="btn btn-lg btn-outline bg-green">Добави</button>
      </div>
    </div>
    <table class=" table table-bordered table-responsive table-hover table-category">
      <thead class="thead bg-red">
        <th style="width: 60%;">Име</th>
        <th style="width: 10%;"></th>
        <th style="width: 10%;"></th>
        <th style="width: 10%;"></th>
        <th style="width: 10%;"></th>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td><img src="src/assets/user.png"></td>
          <td><a><i class="fa fa-edit"></i></a></td>
          <td><a><i class="fa fa-save"></i></a></td>
          <td><a><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
